* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  color: white;
  font-family: $default-font;
  font-size: 10px;
}

.App {
  background-color: #000;
  min-height: 100vh;
  text-align: center;
  padding-top: 75px;
}

.title {
  font-size: 7rem;
  min-width: 375px;
}

@media (min-width: 800px) {
  .App {
    padding-top: 100px;
  }

  .title {
    font-size: 10rem;
    min-width: 500px;
  }
}
