* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  color: white;
  font-family: $default-font;
  font-size: 10px;
}

.App {
  background-color: #000;
  min-height: 100vh;
  text-align: center;
  padding-top: 75px;
}

.title {
  font-size: 7rem;
  min-width: 320px;
}

@media (min-width: 800px) {
  .title {
    font-size: 10rem;
    min-width: 500px;
  }
}
