.timer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 375px;
  margin: 0 auto;
}

.timerSection {
  display: flex;
  flex-direction: column;
  &__input {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #000;
    border: 1px solid white;
    color: white;
    font-size: 7rem;
    padding: 0 10px;
  }
  &__label {
    font-size: 1.5rem;
  }
}

.iconSection {
  display: flex;
  justify-content: space-around;
  width: 375px;
  margin-top: 50px;
  div {
    color: #fff;
    font-size: 2.8rem;
    width: 30px;
    cursor: pointer;
    &:hover {
      color: rgb(113, 167, 113);
    }
  }
  div.disabled {
    color: #555;
    cursor: initial;
  }
}

.disabledInput {
  border: 1px solid black;
}

@media (min-width: 800px) {
  .timer {
    width: 500px;
  }

  .timerSection__input {
    width: 150px;
    height: 150px;
    font-size: 10rem;
    padding: 0 20px;
    margin-top: 100px;
  }

  .timerSection__label {
    font-size: 2rem;
  }

  .iconSection {
    width: 500px;
    margin-top: 70px;
    div {
      font-size: 3rem;
    }
  }
}

.stopWatch {
  display: none;
  color: #fff;
  font-size: 5rem;
  width: 40px;
  margin-top: 100px;
  animation: alarm 0.15s linear infinite;
  color: #c93030;
  cursor: pointer;
  &__visibility {
    display: block;
  }
  &:hover {
    color: rgb(113, 167, 113);
  }
}

@keyframes alarm {
  0% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}
