.timer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}

.timerSection {
  display: flex;
  flex-direction: column;
  &__input {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #000;
    border: 1px solid white;
    color: white;
    font-size: 6.5rem;
    text-align: center;
    &:focus {
      border: 1px solid rgb(105, 162, 218);
      outline: none;
      font-size: 7rem;
    }
  }
  &__label {
    font-size: 1.5rem;
  }
}

.timerSection:nth-child(1) > input {
  border-right: none;
  transition: border 0.2s linear, font-size 0.1s linear;
}
.timerSection:nth-child(2) > input {
  transition: border 0.2s 0.1s linear, font-size 0.1s linear;
}
.timerSection:nth-child(3) > input {
  border-left: none;
  transition: border 0.2s 0.2s linear, font-size 0.1s linear;
}

.iconSection {
  display: flex;
  justify-content: space-around;
  width: 320px;
  margin-top: 50px;
  div {
    color: #fff;
    font-size: 2.8rem;
    width: 30px;
    cursor: pointer;
    transition: 0.1s linear;
  }
  div.disabled {
    color: #555;
    cursor: initial;
  }
}

.disabledInput {
  border: 1px solid black;
}

@media (min-width: 800px) {
  .timer {
    width: 500px;
  }

  .timerSection__input {
    width: 150px;
    height: 150px;
    font-size: 10rem;
    margin-top: 75px;
  }

  .timerSection__label {
    font-size: 2rem;
  }

  .iconSection {
    width: 500px;
    margin-top: 60px;
    div {
      font-size: 3rem;
      &:hover {
        color: #39a78c;
      }
    }
  }
}

.stopWatch {
  display: none;
  color: #fff;
  font-size: 5rem;
  width: 40px;
  margin-top: 100px;
  animation: alarm 0.15s linear infinite;
  color: #c93030;
  cursor: pointer;
  transition: 0.1s linear;
  &__visibility {
    display: block;
  }
  &:hover {
    color: rgb(113, 167, 113);
  }
}

@keyframes alarm {
  0% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}
