@font-face {
  font-family: myFont;
  src: url("../fonts/Azonix.otf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  color: white;
  font-family: myFont;
  font-size: 10px;
}

.App {
  background-color: #000;
  min-height: 100vh;
  text-align: center;
  padding-top: 75px;
}

.title {
  font-size: 7rem;
  min-width: 320px;
}

@media (min-width: 800px) {
  .title {
    font-size: 10rem;
    min-width: 500px;
  }
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}

.timerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timerSection__input {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #000;
  border: 1px solid white;
  color: white;
  font-size: 6.5rem;
  text-align: center;
}

.timerSection__input:focus {
  border: 1px solid #69a2da;
  outline: none;
  font-size: 7rem;
}

.timerSection__label {
  font-size: 1.5rem;
}

.timerSection:nth-child(1) > input {
  border-right: none;
  -webkit-transition: border 0.2s linear, font-size 0.1s linear;
  transition: border 0.2s linear, font-size 0.1s linear;
}

.timerSection:nth-child(2) > input {
  -webkit-transition: border 0.2s 0.1s linear, font-size 0.1s linear;
  transition: border 0.2s 0.1s linear, font-size 0.1s linear;
}

.timerSection:nth-child(3) > input {
  border-left: none;
  -webkit-transition: border 0.2s 0.2s linear, font-size 0.1s linear;
  transition: border 0.2s 0.2s linear, font-size 0.1s linear;
}

.iconSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 320px;
  margin-top: 50px;
}

.iconSection div {
  color: #fff;
  font-size: 2.8rem;
  width: 30px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.iconSection div.disabled {
  color: #555;
  cursor: initial;
}

.disabledInput {
  border: 1px solid black;
}

@media (min-width: 800px) {
  .timer {
    width: 500px;
  }
  .timerSection__input {
    width: 150px;
    height: 150px;
    font-size: 10rem;
    margin-top: 75px;
  }
  .timerSection__label {
    font-size: 2rem;
  }
  .iconSection {
    width: 500px;
    margin-top: 60px;
  }
  .iconSection div {
    font-size: 3rem;
  }
  .iconSection div:hover {
    color: #39a78c;
  }
}

.stopWatch {
  display: none;
  color: #fff;
  font-size: 5rem;
  width: 40px;
  margin-top: 100px;
  -webkit-animation: alarm 0.15s linear infinite;
          animation: alarm 0.15s linear infinite;
  color: #c93030;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.stopWatch__visibility {
  display: block;
}

.stopWatch:hover {
  color: #71a771;
}

@-webkit-keyframes alarm {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes alarm {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}
/*# sourceMappingURL=style.module.css.map */